#witacz{
    font-size: 30px;
    text-align: center;
}

body{
    background: lightblue;
}

#container-left{
    margin-left: 5%;
    border: 1px solid black;
    background: rgba(255,255,255,0.4);
    width: 44%;    
    height: 100%;
    position:fixed;
}

#container-right{
    margin-right: 5%;
    border: 1px solid black;
    background: rgba(255,255,255,0.4);
    margin-left: 50%;
    width: 44%;
    height: 100%;
    position:fixed;
}

h1,h2{
    text-align: center;
}

p{
    text-align: center;
    font-size: larger;
}

li{
    font-size: larger;
}

#zdjecia{
    margin-left: 5%;
    width: 90%;
    height: 100%;
    overflow: scroll;
}