body, html{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background: #edeada;
}

.pierwsza{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.pierwsza h1{
    margin: 0%;
    padding: 0%;
    height: 10%;
    width: 100%;
    text-align: center;
}

.pierwsza img{
    margin: 0%;
    padding: 0%;
    height: 90%;
    width: 100%;
}

.mapa{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

.mapa #img1{
    float:left;
    margin: 0%;
    padding: 0%;
    width: 20%;
    height: 20%;
}

.mapa div img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.mapa #map{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 80%;
}

.text{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.text #tekst{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 80%;
}

.text #stopka{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 20%;
}

#map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  @mixin expandPanelClosed($modeClass) {
    .#{$modeClass} {
      .esri-expandcontent {
        position: absolute;
      }
  
      .esri-expandmask,
      .esri-expand__content-panel {
        display: none;
      }
    }
  }
  
  @if $include_Expand==true {
    @include expand();
  }

  p, h2, ol, li{
      text-align: center;
      list-style-type: none;
  }

  hr{
      border-top: 1px solid black;
  }

