#witacz{
    font-size: 30px;
    text-align: center;
}

body{
    background: lightblue;
    width: auto;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "container-left container-right";
  }
  
  .container-left { grid-area: container-left;
     background: rgba(255,255,255,0.4);
     margin-left: 5%;
     border: 1px solid black;
    }
  
  .container-right { grid-area: container-right;
    background: rgba(255,255,255,0.4);
    margin-right: 5%;
    border: 1px solid black;
    background: rgba(255,255,255,0.4);
    }

h1,h2{
    text-align: center;
}

p{
    text-align: center;
    font-size: larger;
}

li{
    font-size: larger;
}

#z1{
    padding: 5%;
    width: 750px;
}